<html>
<head>
<title>Cuentas</title>
</head>
<body>

<h1> Todas las cuentas: </h1>
{% if listAccounts %}

{%for a in listAccounts %}


<p> {{ a.balance }}</p>

{% endfor %}

{% else %}

<h1> "sdfsdf"</h1>

{% endif %}
</body>
</html>