<!DOCTYPE html>
<html>
<head>	
<title>Transfer</title>
</head>
<h1>Formulario de transferencia:</h1>
<body>
{% if accounts %}
<form action="concrete"> <p> Seleccione cuenta origen:
<input list="accounts" name="source">
<datalist id="accounts">
{%for a in accounts %}
	<option value="{{ a.number }}">
{% endfor %}
</datalist>
</p>

<p> Seleccione cuenta destino:
<input list="accounts" name="target">
<datalist id="accounts">
{%for a in accounts %}
	<option value="{{ a.number }}">
{% endfor %}
</datalist>
</p>
<p> Ingrese monto:
<input type="number" name="amount">
</p>
<input type="submit" value="transferir">

</form>


{% else %}

<h1> "No existen cuentas"</h1>

{% endif %}

</p>

</body>
</html>